body {
    /*background: linear-gradient(to right, #F3F2ED, #b6b6b6);*/
}

#navlogo {
    height: 80px;
    width: 130px;
    float: left;
    margin-top: -61.5px;
    margin-left: 20px;
}

button {
    font-family: 'Roboto Mono', monospace;
    background-color: azure;
    float: right;
    border: none;
    height: 20px;
    margin-top: 0px;
}

#icons {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 40px;
}

#searchbar {
    margin-top: 25px;
    margin-left: 35%;
    height: 20px;
    width: 400px;
    background-color: azure;
    font-family: 'Roboto Mono', monospace;
    color: black;
    padding: 10px;
    border-radius: 70px;
}

#searchbarinput {
    background-color: azure;
    font-family: 'Roboto Mono', monospace;
    height: 20px;
    border: none;
    width: 300px;
    font-size: 20px;
}

#searchbarinput:focus {
    outline: none;
}

#nav {
    background: linear-gradient(to right, #B43115, #EA1D15, #B43115);
    height: 80px;
    margin: -8px;
    padding: 10px 10px;
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid 1px black;
}

#nav li a {
    background-color: transparent;
    line-height: 60px;
    padding: 10px;
    color: #f2f3f4;
    font-weight: bold;
    text-decoration: none;
    float: right;
    list-style-type: none;
    font-size: 30px;
    vertical-align: middle;
    font-family: 'Roboto Mono', monospace;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

#nav li a.pic {
    float: left;
    margin-top: -10px;
}

#nav li a:hover {
    color: black;
}

.dropdownbutton {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    padding-bottom: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B43115;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    width: 160px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown {
    float: right;
    margin-top: 25px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdownbutton {
    background-color: black;
}

h1 {
    margin-top: 8%;
    text-align: center;
    font-size: 45px;
    color: #9C1515;
    font-family: 'Roboto Mono', monospace;
    font-weight: 1100;
}

#box {
    width: 50%;
    height: 300px;
    margin-top: 3%;
    border: solid black 3px;
    border-radius: 25px;
    background-color: whitesmoke;
    float: left;
}

#box-right {
    width: 50%;
    height: 300px;
    margin-top: 3%;
    border: solid black 3px;
    border-radius: 25px;
    background-color: whitesmoke;
    float: right;

}

h2 {
    text-align: center;
    width: 50%;
    margin-left: 5%;
    font-family: 'Roboto Mono', monospace;
}

p {
    text-align: center;
    width: 50%;
    margin-left: 5%;
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

#mission {
    float: right;
    margin-right: 5%;
}

#crimepic {
    width: 302px;
    height: 201px;
    float: right;
    border-radius: 10px;
    margin-right: 13%;
}

#flagpic {
    width: 301px;
    height: 201px;
    border-radius: 10px;
    margin-top: 4%;
    margin-left: 13%;
}

#teampic {
    width: 302px;
    height: 201px;
    float: right;
    border-radius: 10px;
    margin-right: 13%;
    margin-top: 1%;
}