body {
    background-color: azure;
}

#nav {
    background-color: #EA1D15;
    height: 80px;
    margin: -8px;
    padding: 10px 10px;
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid 1px black;
}

#nav h1 {
    color: white;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#logindiv {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

p {
    font-family: 'Roboto Mono', monospace;
}

input {
    height: 30px;
    width: 500px;
}

a {
    text-decoration: none;
    color: #0040ff;
}

#signup {
    text-align: center;
}

#guest {
    color: #0040ff;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 13px;
}