body {
    background-color: azure;
    font-family: 'Roboto Mono', monospace;
}

#nav {
    background-color: #EA1D15;
    height: 80px;
    margin: -8px;
    padding: 10px 10px;
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid 1px black;
}

#nav h1 {
    color: white;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

input {
    height: 30px;
    width: 500px;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

div {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Roboto Mono', monospace;
}

button {
    margin-top: 20px;
    height: 50px;
    width: 120px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    border-radius: 5px;
}

p {
    font-family: 'Roboto Mono', monospace;
}

#registerdiv {
    align-items: center;
    display: flex;
    justify-content: center;
}

p.button {
    text-align: center;
}

#account-create-msg {
    text-align: center;
    color: green;
}

#back-to-login-btn {
    color: #0040ff;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #0040ff;
}